<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="./image/weather-icon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>About</title>
</head>
<body>
    <h2>{{title}}</h2>
    {{>header}}
    <img src="./image/sanky.jpg" alt="profile-pic">
    {{>footer}}
</body>
</html>